name: Reusable workflow for deploying to AWS

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string

jobs:
  deploy:
    name: Deploy ${{ matrix.service.name }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    strategy:
      matrix:
        service:
          - name: chat
            dockerfile: Dockerfile
          # TODO: Add ddp-streamer for horizontal scaling when needed
          # - name: ddp-streamer
          #   dockerfile: ee/apps/ddp-streamer/Dockerfile

    env:
      ECR_REPOSITORY: "${{ inputs.env }}-${{ matrix.service.name }}"
      ECS_SERVICE: "${{ inputs.env }}-${{ matrix.service.name }}"
      ECS_CLUSTER: "${{ inputs.env }}-chat"
      CONTAINER_NAME: "${{ inputs.env }}-${{ matrix.service.name }}"

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.16.0'

      - name: Install Deno
        run: |
          curl -fsSL https://deno.land/install.sh | sh
          echo "$HOME/.deno/bin" >> $GITHUB_PATH

      - name: Install Meteor
        run: curl https://install.meteor.com/ | sh

      - name: Install dependencies
        run: |
          corepack enable
          yarn install

      - name: Build packages
        run: yarn build

      - name: Build Meteor bundle
        env:
          METEOR_ALLOW_SUPERUSER: 1
        run: yarn workspace @rocket.chat/meteor run build:ci

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::613560453556:role/GitHubActionsDeployRole
          aws-region: us-west-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          # Docker build with pre-built bundle
          docker build -f ${{ matrix.service.dockerfile }} -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker tag $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:latest
          # Push to ECR
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
          echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Download task definition
        run: |
          aws ecs describe-task-definition --task-definition ${{ env.ECS_SERVICE }} \
          --query taskDefinition > task-definition.json

      - name: Fill in the new image ID in the Amazon ECS task definition
        id: task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: task-definition.json
          container-name: ${{ env.CONTAINER_NAME }}
          image: ${{ steps.build-image.outputs.image }}

      - name: Deploy Amazon ECS task definition
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: ${{ steps.task-def.outputs.task-definition }}
          service: ${{ env.ECS_SERVICE }}
          cluster: ${{ env.ECS_CLUSTER }}
          wait-for-service-stability: true
