name: Deploy Production

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  call:
    name: Build and Push
    uses: ledgelabs/ledge-chat/.github/workflows/deploy.yml@main
    with:
      env: prod
